# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# MMA db files
.mmaDB

*.mid
